.homePage{
    background-color: wheat;
    margin: 5.6em 0em 0em 10em;
    font-size: 1em;
}
.viewBody{
    
}
.caseBody{
    background-color: rgba(250, 250, 250,0.95);
    background-size:cover ;
    min-height: 700px;
    margin: 5.6em 0em 0em 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.h{
    color: white;
}
.caseType{
    display: flex;

}
.typeName{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
    background-color: rgba(100, 100, 100,0.5);
}
/* @media (max-width: 800px) {
    .caseBody{
        margin-left: 0px;
    }
} */