.loginBody{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 100%;
    position: fixed;
    
}
.registerBody{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 100%;
    position: fixed;
    
}