@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.caseCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.caseImg{
    margin: 10px;
    width: 210px;
    height: 150px;
}
.caseCard:hover{
    
}
.caseName{
    color: rgb(50, 50, 50);
}
.itemCard{
    min-width: 8em;
    min-height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 2px 2px 0px rgba(200, 200, 200,0.2);
}
.itemImg{
    margin: 2px;
    width: 80px;
    height: 80px;
}
.itemCard:hover{
    box-shadow: 2px 4px 6px rgb(200, 50, 200);
}
.itemName{
    font-family: 'Yellowtail', cursive, serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-top: 2px;
}
.itemRate{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(20, 20, 20);
    font-size: 10px;
}
.itemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caseItemImg{
    z-index: 0;
    position: absolute;
    margin: -5px 0px 0px -5px;
    width: 125px;
    height: 80px;
}
.caseItemImg:hover{
    position: absolute;
    margin: -25px 0px 0px -5px;
    width: 140px;
    height: 95px;
}
.openCaseName{
    font-size: 2em;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
.openCaseCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5em;
}
.caseOpenBtn{
    border: 1px rgb(50, 200, 50) double;
    margin-top: 2em;
    width: 9em;
    height: 2em;
    background-color: rgb(150, 250, 150);
}
.wlimage{
    margin: auto;
    padding: 0;
    width: 1em;
    height: 1em;
}